<h1>ブログ一覧</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Content</th>
    </tr>
<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.Name %></td>
    <td><%= blog.Email %></td>
    <td><%= blog.content %></td>
    <td><%= link_to '詳細を確認する', blog_path(blog.id) %></td>
    <%= link_to "ブログを編集する", edit_blog_path(blog.id), data: { confirm: '本当に編集していいですか？' } %>
    <%= link_to 'ブログを削除する', blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
    </tr>
<% end %>
</table>
<br>
<%= link_to '新しくブログを投稿する', new_blog_path %>